{{#each artists}}
  <div class="alinhados">

    <div class="cartoes-artistas">
      <img
        class="img-artista"
        src="{{this.images.0.url}}"
        alt="{{this.name}}"
      />
      <div class="texto-cartao">
        <p>{{this.name}}</p>
        <a href="/albums/{{this.id}}">View Albums</a>
      </div>
    </div>
  </div>
{{/each}}